
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
}
.max-widith{
    width: 96%;
    margin-left: 2%;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url(imges/back-g3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;

}
.about, .Serveses, .skills, .team, .contect {
    height: 100vh;
    width: 100%;
    padding: 50px 0;
    
}
                    /* header */
.home header {   
    display: flex;
    position: fixed;
    align-items: center;
    width:100%;
    height: 8%;
    z-index: 999;
}
.font-menu {
    font-size: 23px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.hanibknav {
    background-color: crimson;
}
.hanibknav a span {
    color: #fff;
}

header .max-widith {
    display: flex;
    align-items: center;
}

.mainnav .logo{
    width: 30%;
    height: 100%;
    padding: 0 10px;
}
.mainnav .half-nav{
    width: 70%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
}

header .max-widith  a {
    text-decoration: none;
    color:#fff;
}
.logo a{
    font-size: 1.5em;
    font-weight: 600px;
}
header a span {
    color: crimson;
}
.menu-ul {
    list-style: none;
    display: flex;
}
.mainnav .half-nav ul li a {
    display: block;
    padding: 0px 5px;
    font-size: 1em;
    font-weight: 500px;
}
.mainnav .half-nav ul li a:hover {
    color:  red;
}
.hanibknav ul li:hover a{
    color: #fff;
}
                    /* home page  */

.home .sechome {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.sechome .max-widith  p {
    padding: 10px;
    width: 100%;
}
.sechome .max-widith h1{
    padding: 10px;
    width: 100%;
    font-size: 48px;
}
.sechome .max-widith div {
    padding: 10px;
    width: 100%;
}
.sechome .max-widith h3 {

    padding: 10px;
}
.sechome .max-widith h3 span {
    color: crimson;
}
.sechome .max-widith button {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    background-color:rgb(216, 22, 22) ;
    color: #fff;
    padding: 7px;
    border-radius: 8px;
    border: 2px solid rgb(216, 22, 22);
    width: 80px;
    cursor: pointer;
    transition: all .3s ease;

}
.sechome .max-widith button:hover {
    background-color:rgba(216, 22, 22, 0) ;
    color:  rgb(216, 22, 22);
}

                            /*   About page    */

.about .max-widith {
    height: 100%;
}
.about .max-widith .about-title {
    height: 30%;
    width: 100%;
    text-align: center;
    padding-top: 5%;
}
    .about-title h1 {
        width: 100%;
        padding: 5px;
        letter-spacing: 2px;
}
    .about-title h3 { 
        font-size: .8em;
        width: 100%;
    }
    .about-title h3 span {
        color: crimson;
        padding: 2px;
}
.about .max-widith .about-content {
    display: flex;
    height: 70%;
    width: 100%;
}
.about .max-widith .about-content .left-about{
    height: 100%;
    width: 40%;
}
    .about .max-widith .about-content .left-about img {
        width: 80%;
        height: 90%;
        border-radius: 8px;
        object-fit: cover;
        transition: 1s ease;
}

.about .max-widith .about-content .right-about{
    height: 100%;
    width: 60%;
    padding: 10px;
}
.about .max-widith .about-content .right-about h4,p,a {
    padding: 20px 0;
}
.about .max-widith .about-content .right-about h4 span {
    color: crimson;
}
.about .max-widith .about-content .right-about a {
    text-decoration: none;
    background-color:rgb(216, 22, 22) ;
    color: #fff;
    padding: 2px 7px;
    border-radius: 8px;
    border: 2px solid rgb(216, 22, 22);
    margin-top: 10px;
    transition: all .3s ease;

}
.about .max-widith .about-content .right-about a:hover {
        color:  rgb(216, 22, 22);
        background: none;
}

                /* this is serves */
.Serveses {
    background-color: black;
    color: #fff;
}
.Serveses .max-widith {
    height: 100%;
}
.Serveses .max-widith .Serveses-title {
    height: 20%;
    width: 100%;
    text-align: center;
    padding-top: 5%;
}
    .Serveses-title h1 {
        width: 100%;
        padding: 5px;
        letter-spacing: 2px;
        font-size: 3em;
}
    .Serveses-title h3 { 
        font-size: 1.5em;
        width: 100%;
    }
    .Serveses-title h3 span {
        color: crimson;
        padding: 2px;
}
.Serveses-content {
    display: flex;
    padding: 5px;
    height: 80%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.Serveses-content div{
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    width: 30%;
    height: 50%;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease;
}
.Serveses-content div:hover{
    background-color: crimson;
    color: #fff;
    transform: scale(1.05);
}
.Serveses-content div:hover h3{
    color: #fff;
}
.Serveses-content div h3,h4,p{
    font-weight: 500;
}
.Serveses-content div h3{
color: crimson;
font-size: 3em;
padding: 5px;
display: block;
transition: all .3s ease;
}
.Serveses-content div h4{
font-size: 1.5em;
padding: 5px;
display: block;
}
.Serveses-content div p{
padding: 5px;
display: block;
}







.main-footer {
    width: 100%;
    height: 30px;
    background-color: aqua;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 700px){
    
.mainnav .menu-ul {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top:80px;
    transition: all 0.3s ease;
}
.mainnav .menu-ul.active{
    left: 0;
}
.font-menu {
    display: block;
    z-index: 999;
}

.font-menu i.active:before {
    content: "\f00d";
}

.mainnav .half-nav .menu-ul{
    display: block;
}
.mainnav .half-nav .menu-ul li a {
    display: inline-block;
    font-size: 25px;
    margin: 15px auto;
}
.mainnav .half-nav ul li a:hover {
    color:  rgb(250, 10, 10);
}
            /* this is about */
.about{
padding: 0;
height: 100vh;
}
.about .max-widith {
height: 100%;
width: 90%;
margin: 10px auto;
}
.about .max-widith .about-title {
height: 10%;
width: 100%;
padding-top: 5%;
}
.about .max-widith .about-content{
display: block;
height: 80%;
width: 100%;
}
.about .max-widith .about-content .left-about{
height: 50%;
width: 100%;
}
.about .max-widith .about-content .left-about img{
    height: 100%;
    width: 100%;
}
.about .max-widith .about-content .right-about{
height: 50%;
width: 100%;
padding: 20px 0;
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: flex-start;
}
            /* this is servess */



}
