
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url(/imges/back-g3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;

}
.about, .Serveses, .skills, .team, .contect {
    height: 100vh;
    width: 100%;
    
}
                    /* header */
.home header {   
    display: flex;
    position: fixed;
    align-items: center;
    width:100%;
    height: 8%;
}
.font-menu {
    font-size: 23px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.hanibknav {
    background-color: crimson;
}
.hanibknav a span {
    color: #fff;
}
.mainnav.hanibknav ul li a:hover {
    color: #fff;
}

header .max-widith {
    display: flex;
    width: 100%;
    align-items: center;
}

.mainnav .logo{
    width: 30%;
    height: 100%;
    padding: 0 10px;
}
.mainnav .half-nav{
    width: 70%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: flex-end;
}

header .max-widith  a {
    text-decoration: none;
    color:#fff;
}
.logo a{
    font-size: 1.5em;
    font-weight: 600px;
}
header a span {
    color: crimson;
}
.menu-ul {
    list-style: none;
    display: flex;
}
.mainnav .half-nav ul li a {
    display: block;
    padding: 0px 5px;
    font-size: 1em;
    font-weight: 500px;

}
.mainnav .half-nav ul li a:hover {
    color:  rgb(250, 10, 10);
}
                    /* home page one */

.home .sechome {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.sechome .max-widith  p {
    padding: 10px;
    width: 100%;
}
.sechome .max-widith h1{
    padding: 10px;
    width: 100%;
    font-size: 48px;
}
.sechome .max-widith div {
    padding: 10px;
    width: 100%;
}
.sechome .max-widith h3 {

    padding: 10px;
}
.sechome .max-widith h3 span {
    color: crimson;
}
.sechome .max-widith button {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    background-color:rgb(216, 22, 22) ;
    color: #fff;
    padding: 7px;
    border-radius: 8px;
    border: 2px solid rgb(216, 22, 22);
    width: 80px;
    cursor: pointer;
    transition: all .3s ease;

}
.sechome .max-widith button:hover {
    background-color:rgba(216, 22, 22, 0) ;
    color:  rgb(216, 22, 22);
}

                            /*   About page    */
.about{
    display: flex;
    justify-content: center;
}

























.main-footer {
    width: 100%;
    height: 30px;
    background-color: aqua;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 947px){
    
.mainnav .menu-ul {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top:80px;
    transition: all 0.3s ease;
}
.mainnav .menu-ul.active{
    left: 0;
}
.font-menu {
    display: block;
    z-index: 999;
}

.font-menu i.active:before {
    content: "\f00d";
}

.mainnav .half-nav .menu-ul{
    display: block;
}
.mainnav .half-nav .menu-ul li a {
    display: inline-block;
    font-size: 25px;
    margin: 15px auto;
}
.mainnav .half-nav ul li a:hover {
    color:  rgb(250, 10, 10);
}

}
