* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home {
    height: 100vh;
    width: 100%;
    background-color:rgb(19, 18, 18);
    color:#fff;

}
.home header {   
    display: flex;
    position: fixed;
    align-items: center;
    width:100%;
    height: 8%;
}
.font-menu {
    font-size: 23px;
    color: #fff;
    cursor: pointer;
}
.hanibknav {
    background-color: crimson;
}
.hanibknav a span {
    color: #fff;
}
.hanibknav ul li a:hover{
    color: #ffffff9c;
} 

header .max-widith {
    display: flex;
    width: 100%;
    align-items: center;
}


header .max-widith div{
    width: 50%;
    height: 100%;
    padding: 0 10px;
}
header .max-widith div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

header .max-widith  a {
    text-decoration: none;
    color:#fff;
}
.logo a{
    font-size: 1.5em;
    font-weight: 600px;
}
header a span {
    color: crimson;
}
ul {
    list-style: none;
    display: flex;
}
ul li a {
    padding: 0px 5px;
    font-size: 1em;
    font-weight: 500px;

}
ul li a:hover {
    color:  crimson;
}

.home section {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding-left: 20px;
}
section .max-widith  p {
    padding: 10px;
    width: 100%;
}
section .max-widith h1{
    padding: 10px;
    width: 100%;
    font-size: 48px;
}
section .max-widith div {
    padding: 10px;
    width: 100%;
}
section .max-widith h3 {

    padding: 10px 0;
}
section .max-widith h3 span {
    transition: all 5s linear;
    animation-name: change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes change {
    0% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: yellow;
    }
    
    
}                                    /* hader */

section .max-widith button {
    display: block;
    margin-left: 5px;
    margin-top: 10px;
    background-color:rgb(216, 22, 22) ;
    color: #fff;
    padding: 7px;
    border-radius: 8px;
    border: 2px solid rgb(216, 22, 22);
    width: 80px;
    cursor: pointer;
    transition: all .3s ease;

}

section .max-widith button:hover {
    background-color:rgba(216, 22, 22, 0) ;
    color:  rgb(216, 22, 22);
}

/* @keyframes change-border {
    25% {
        border-top-color: black ;
        border-right-color: blue;
        border-bottom-color:  red;
        border-left-color:  white;

    }
    50% {
        border-top-color: white ;
        border-right-color: black;
        border-bottom-color:  blue;
        border-left-color:  red;
    }
    75% {
        border-top-color: red ;
        border-right-color: white;
        border-bottom-color:  black;
        border-left-color:  blue;
    }
    100% {
        border-top-color: blue ;
        border-right-color: red;
        border-bottom-color:  white;
        border-left-color:  black;
    }
    
}    */

.about, .Serveses, .skills, .team, .contect {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-footer {
    width: 100%;
    height: 30px;
    background-color: aqua;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}