* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home {
    height: 100vh;
    width: 100%;
    background-color:rgb(19, 18, 18);
    color:#fff;

}
.home header {      /* header style */    
    display: flex;
    position: fixed;
    background-color: rgba(220, 20, 60, 0.151);
    align-items: center;
    width:100%;
    height: 8%;
}

header .max-widith {
    display: flex;
    width: 100%;
    align-items: center;
}


header .max-widith div{
    width: 50%;
    height: 100%;
    padding: 0 10px;
}
header .max-widith div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

header .max-widith  a {
    text-decoration: none;
    color:#fff;
}
header a span {
    color: crimson;
}
ul {
    list-style: none;
    display: flex;
}
ul li a {
    padding: 0px 5px;

}
ul li a:hover {
    color:  crimson;
}


.home section {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    padding-left: 20px;
}
section .max-widith  p {
    padding: 10px;
    width: 100%;
}
section .max-widith h1{
    padding: 10px;
    width: 100%;
    font-size: 48px;
}
section .max-widith div {
    padding: 10px;
    width: 100%;
}
section .max-widith h3 {

    padding: 10px 0;
}
section .max-widith h3 span {
    transition: 5s;
    animation-name: change;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes change {
    0% {
        background-color: red;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: yellow;
    }
 /*haderrrrr*/
    
}

section .max-widith button {
    display: block;
    margin-left: 5px;
    margin-top: 10px;
    background-color:rgb(216, 22, 22) ;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    border-style: none;
    width: 70px;
    cursor: pointer;
}
 .about, .Serveses, .skills, .team, .contect {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}